<% @user ||= current_user %>
<div class="stats">
  <% if request.env['PATH_INFO'] == '/' %>
  <a href="<%= following_user_path(@user) %>" style="color:white" >
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>" style="color:white">

    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>

  <% else %>
    <a href="<%= following_user_path(@user) %>" style="color:black" >
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>" style="color:black">

    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  <% end %>
</div>