<% if request.env['PATH_INFO'] == '/' %>
<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= pluralize(current_user.posts.count, "post") %></span>
<% elsif request.env['PATH_INFO'] != '/posts' %>

<%= link_to gravatar_for(@user, size: 50), @user %>
<h1><%= @user.name %></h1>
<span><%= pluralize(@user.posts.count, "post") %></span>

<% end %>
<span id='viewprofile'><%= link_to "view my profile", current_user if request.env['PATH_INFO'] == '/' %></span>