<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="<%= asset_path('favicon-32x32.png') %>" rel="shortcut icon" type="image/icon" />
  <%= render 'layouts/shim' %>
</head>
<body>

  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <!--<%=  debug(params) if Rails.env.development? %> -->
  </div>
</body>
<% if !logged_in? %>
<script type="text/javascript">
  $('.navbar-inverse').css('background-color', 'rgba(12, 14, 18, 0)')





</script>


<% end %>
<script type="text/javascript">
  switch(window.location.pathname) {
    case '/':
    $($('a[href="/"]')[1]).css({'font-size':'1.6em'});
    break;
    case '/users':
    $('a[href="/users"]').css({'font-size':'1.6em'});
    break;
    case '/about':
    $('a[href="/about"]').css({'font-size':'1.6em'});
    break;
    case '/signup':
    $('a[href="/signup"]').css({'font-size':'1.6em'});
    break;
    case '/login':
    $('a[href="/login"]').css({'font-size':'1.6em'});
    break;
    default:
    $('a[href="#"]').css({'font-size':'1.6em'});

  }
</script>
</html>